<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>553065116660-p405riuus2jpvsk2g17fgprtgi90h812.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.553065116660-p405riuus2jpvsk2g17fgprtgi90h812</string>
	<key>API_KEY</key>
	<string>AIzaSyAx3hJNZ3KnfKmCVf7IqMw1_npDILZ90zg</string>
	<key>GCM_SENDER_ID</key>
	<string>553065116660</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fStudyBuddy</string>
	<key>PROJECT_ID</key>
	<string>f-study-buddy</string>
	<key>STORAGE_BUCKET</key>
	<string>f-study-buddy.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:553065116660:ios:52bdba67a60aa283363fa1</string>
</dict>
</plist>